*{
    margin: 0;
    padding: 0;
}
.back{
    background-image: linear-gradient(45deg,red,blue);
    height: 100vh;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.calc{
    position: absolute;
    background-color: rgba(184, 96, 206,0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}

.bot{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(231, 183, 231);
    border: none;
    color: white;
    margin: 3px;
}

.bot:hover{
    background-color: violet;
}

.bot2{
    height: 106px;
}

.bot3{
    width: 106px;
}

#resultado{
    width: 223px;
    height: 30px;
    background-color: white;
    margin: 5px;
    font-size: 25px ;
    color: black;
    text-align: right;
    padding: 5px;

}